@import './Home.module.scss';

$box-shadow:rgba(0, 0, 0, 0.30) 0rem 0.5rem 2rem;
$other-box-shadow:rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
$bg-color: whitesmoke;
$border-btm: 0.1rem solid rgb(125, 125, 125);
.header{
    height: 3.5rem;
    border-bottom: $border-btm;
    box-shadow: $box-shadow;
    background-color: $bg-color;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2.5rem 0 2rem;
    .image{
        border-radius: 2rem;
        display: flex;
        justify-content: flex-start;
        position: fixed;
    }
.navbar{
    display: flex;
    justify-content: center;
    gap: 2rem;
    li {list-style-type: none}
    a:active,
    a {
        text-decoration: none;
        color:$color-trecandary;
    }
    a:hover{
        transition: ease 0.3s;
        color: $color-secondary;
    }
}
}
.body{
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: scroll;
        .userpic{
            border-radius: 2rem;
            height: 100%; width: 100%;
            box-shadow: $other-box-shadow;
        }
    }
    .greeting {
        padding-left: 1rem;
    }
}