.header{
    height: 5rem;
    border-bottom: 0.2rem solid black;
    margin: 0;
    padding: 0;
    .image{
        border-radius: 2rem;
        display: flex;
        justify-content: flex-start;
    }
.navbar{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    li {list-style-type: none}
    a {
        text-decoration: none;
    }
    a:hover{
        transition: ease 0.3s;
    }
}
}