// import {color-primary} from './Home.module.scss'
.header{
    height: 3.5rem;
    border-bottom: 0.2rem solid black;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2.5rem 0 2rem;
    .image{
        border-radius: 2rem;
        display: flex;
        justify-content: flex-start;
        position: fixed;
    }
.navbar{
    display: flex;
    justify-content: center;
    gap: 2rem;
    li {list-style-type: none}
    a {
        text-decoration: none;
    }
    a:hover{
        transition: ease 0.3s;
    }
}
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .userpic{
        border-radius: 2rem;
        height: 100%; width: 100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.5rem 2rem;
    }
}
.greeting {
    padding-left: 1rem;
}